body {
  background-color: #373C44;
}

div .square {
  box-sizing: border-box;
  height: 100%;
  min-height: 1px;
  display: inline-block;
  float: left;
  background-color: rgba(0,0,0,0);
  border-radius: 12px;
  overflow: visible;
}

#board {
  width: 797px;
  height: 600px;
  border: 1px solid black;
  border-radius: 12px;
  background: url('img/dungeon-crawler.png') no-repeat;
  background-size: contain;
  padding: 60px;
  box-sizing: border-box;
}

.square > img {
  height: 300%;
}